{% extends "base_generic.html" %}

{% block content %}
  <script src="https://www.paypal.com/sdk/js?client-id=AeoRBJPyMGHTOi8OmRxKW5IZaB0sf276fAWwELm-XySMnConkjQryyFPFP4wkampSRGcTCs0VV4mW0Sm&merchant-id={{ user_receiving.paypalEmail }}"></script>
  <div class="container-fluid col-lg-4 center-block receipts-container">
    <div class="center-block" style="text-align: center;">
      <div>
        <h1>Send Payment of
          <span class="amount-offered">${{ payment_amount }}</span>
          to {{ user_receiving }}
        </h1>
      </div>
    </div>
  </div>
  <div id="payment-container" class="center-block col-lg-4">
    {{ payment_amount|json_script:"payment_amount" }}
    {{ user_receiving.paypalEmail|json_script:"user_receiving" }}
    {{ receipt.id|json_script:"receipt_id" }}
    {% load static %}
    <script src="{% static 'js/paypal_payment.js' %}">
    </script>
  </div>
{% endblock %}
