{% extends "base_generic.html" %}

{% block content %}
  <div class="container-fluid col-lg-10 center-block">
    <div class="center-block" style="text-align: center;">
      <div class="event-header col-lg-8 center-block">
        <h1>{{ event.title }}</h1>
        <h3>
          {{ event.location }}<br>
          @ {{ event.date }}<br><br>
          Hosted by <a href="{% url 'profile-detail' pk=event.host.profile.id %}">
            {{ event.host.first_name }} {{ event.host.last_name }}
          </a>
        </h3>
      </div>
      <h5 class="event-context">
        {{ event.context }}
      </h5>
    </div>
    <div class="participants-container center-block">
      <h5>Participants</h5>
      {% if event.participants.count > 0 %}
        {% for participant in event.participants.all %}
          <b>{{ forloop.counter }}: </b>
          <a href="">{{ participant.first_name }} {{ participant.last_name }} ({{ participant.username }})</a>
          {% if request.user == event.host %}
            <a onclick="return confirm('Are you sure you want to remove this user from the event?')"
              href="{% url 'remove-participant' event_pk=event.pk user_pk=participant.pk %}">
              <span class="btn btn-red remove-btn">REMOVE</span>
            </a>
          {% endif %}
          <br>
        {% endfor %}
      {% else %}
        This event does not have any participants yet.
      {% endif %}
    </div>
    {% if request.user != event.host %}
      <a onclick="return confirm('Are you sure you want to drop out from the event?')"
        href="{% url 'remove-participant' event_pk=event.pk user_pk=request.user.pk %}">
        <span class="btn btn-red center-block" style="width: 120px; margin-top: 20px;
          margin-bottom: 10px;">Leave Event</span>
      </a>
      <a href="{% url 'report-event' pk=event.pk %}">
        <div class="btn btn-red listing-btn center-block" style="margin-bottom: 20px;">
          Report Event
        </div>
      </a>
    {% endif %}
  </div>
{% endblock %}
