{% extends "base_generic.html" %}

{% block content %}
  <div class="container-fluid col-lg-10 center-block" style="border-bottom: 1px solid grey;">
    <div class="center-block" style="text-align: center;">
      <div>
        <h1>{{ wishlist.title }}</h1>
        <h3>Owned by:
          <a href="{% url 'profile-detail' pk=wishlist.owner.profile.id %}">
            {{ wishlist.owner }}
          </a>
        </h3>
      </div>
      <div style="margin-top: 20px; margin-bottom: 5px">{{ wishlist.description }}</div>
      {% if wishlist.owner == request.user %}
        <div class="add-button">
          <a href="{% url 'edit-wishlist' pk=wishlist.pk %}">
            <div class="btn btn-blue" style="margin-top: 15px; margin-bottom: 20px;">
              Edit Wishlist
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  {% if wishlist.items.count > 0 %}
  <div class="container-fluid center-block col-lg-8 wishlist-items">
    {% for item in wishlist.items.all %}
      <a href="{{ item.get_absolute_url }}">
        <div class="item-list-display">
          {% if item.images %}
            {% with item.images.all|first as image %}
              <div class="item-image"><img src="{{ image.image.url }}"
                style="width: 175px; height: 175px; border: 2px solid black"></img>
              </div>
            {% endwith %}
          {% endif %}
          <div class="item-list-item-name"><h5>{{ item.name|truncatechars:15 }}</h5></div>
          <div class="center-block" style="text-align: center;">
            <a class="btn btn-blue wishlist-button"
              href="{% url 'quick-wishlist-listing' pk=item.pk %}">LIST</a>
            <a class="btn btn-red wishlist-button"
              onclick="return confirm('Are you sure you want to remove this item?')"
              href="{% url 'remove-wishlist-item' wishlist_pk=wishlist.pk item_pk=item.pk %}">REMOVE</a>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  {% else %}
    <p style="text-align: center; margin-top: 20px;">There are no wishlist items currently.</p>
  {% endif %}
{% endblock %}
