{% extends "base_generic.html" %}

{% block content %}
  <div class="profile-header center-block col-lg-10">
    <h1 style="display: inline-block;">{{ profile.user }}'s Profile</h1>
    <div class="profile-buttons">
      {% if profile.user == request.user %}
        <a href="{% url 'edit-account' pk=profile.user.pk %}">
          <div class="btn btn-blue profile-btn">
            Edit Account
          </div>
        </a>
        <a href="{% url 'edit-profile' pk=profile.pk %}">
          <div class="btn btn-blue profile-btn">
            Edit Profile
          </div>
        </a>
      {% else %}
        {% if profile.user.invitesOpen %}
          <a href="">
            <div class="btn btn-blue profile-btn">
              Invite User
            </div>
          </a>
        {% endif %}
        {% if profile.user.inquiriesOpen %}
          <a href="{% url 'start-conversation' pk=profile.user.pk %}">
            <div class="btn btn-blue profile-btn">
              Message User
            </div>
          </a>
        {% endif %}
        {% if profile.user.wishlist %}
          <a href="{% url 'wishlist-detail' pk=profile.user.wishlist.id %}">
            <div class="btn btn-blue profile-btn">
              {{ profile.user }}'s Wishlist
            </div>
          </a>
        {% endif %}
        <a href="{% url 'report-user' pk=profile.user.id %}">
          <div class="btn btn-red profile-btn">
            Report User
          </div>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="profile-info center-block col-lg-9">
    <h4 class="profile-bio-header">BIO:</h4>
    <div class="profile-bio">
      {{ profile.bio }}
    </div>
    {% if offer_listings or auction_listings %}
      <h4 class="profile-listings-header">{{ profile.user }}'s Listings:</h4>
      {% if offer_listings %}
        <h6>For Offers:</h6>
        <div class="profile-listings-container">
          {% for listing in offer_listings %}
            <div class="all-listing-object">
              {% with listing.items.all|first as item %}
                {% with item.images.all|first as image %}
                  <div class="listing-image-container">
                    <a href="{{ listing.get_absolute_url }}"><img src="{{ image.image.url }}" class="listing-image"></img></a>
                  </div>
                {% endwith %}
              {% endwith %}
              <div class="listing-details-container">
                <div style="display: inline-block; width: 100%;">
                  <div class="listing-listview-header">
                    <a href="{{ listing.get_absolute_url }}" style="display: inline-block">
                      <h4 style="display: inline-block">{{ listing.name }}</h4>
                    </a>
                  </div>
                  {% if listing.openToMoneyOffers %}
                    <div class="listing-prices">
                      {% if listing.maxRange > 0.00 %}
                        Price Range: ${{ listing.minRange }} - ${{ listing.maxRange }}
                      {% else %}
                        Minimum Price: ${{ listing.minRange }}
                      {% endif %}
                    </div>
                  {% endif %}
                  <div class="listing-date">Ends: {{ listing.endTime }}</div>
                </div>
                <div class="listing-desc">
                  {{ listing.description }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if auction_listings %}
        <h6>For Bids:</h6>
        <div class="profile-listings-container">
          {% for listing in auction_listings %}
          <div class="all-listing-object">
            {% with listing.items.all|first as item %}
              {% with item.images.all|first as image %}
                <div class="listing-image-container">
                  <a href="{{ listing.get_absolute_url }}"><img src="{{ image.image.url }}" class="listing-image"></img></a>
                </div>
              {% endwith %}
            {% endwith %}
              <div class="listing-details-container">
                <div style="display: inline-block; width: 100%;">
                  <div class="listing-listview-header">
                    <a href="{{ listing.get_absolute_url }}" style="display: inline-block">
                      <h4 style="display: inline-block">{{ listing.name }}</h4>
                    </a>
                  </div>
                  <div class="listing-prices">
                    {% if listing.bids.count > 0 %}
                      {% for bid in listing.bids.all %}
                        {% if bid.winningBid == True %}
                          Current Bid: ${{ bid.amount }} | Minimum Increment: ${{ listing.minimumIncrement }}<br>
                        {% endif %}
                      {% endfor %}
                      {% if listing.autobuy != 0.00 %}
                        Autobuy: ${{ listing.autobuy }}
                      {% endif %}
                    {% else %}
                      Starting Bid: ${{ listing.startingBid }} | Minimum Increment: ${{ listing.minimumIncrement }}<br>
                      {% if listing.autobuy != 0.00 %}
                        Autobuy: ${{ listing.autobuy }}
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="listing-date">Ends: {{ listing.endTime }}</div>
                </div>
                <div class="listing-desc">
                  {{ listing.description }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
    {% if wishlist_listings %}
      <h4 class="profile-listings-header">{{ profile.user }} is Searching For...</h4>
      <div class="profile-listings-container">
        {% for listing in wishlist_listings %}
          <div class="wishlist-listing-container">
            <div class="wishlist-listing-header center-block">
              <a href="{% url 'wishlist-listing-detail' pk=listing.pk %}">
                <h3 class="wishlist-listing-name">{{ listing.name }}</h3>
              </a>
              <h5>Wishlist Items</h5>
            </div>
            <div class="center-block wishlist-listing-items-container">
              {% for item in listing.items.all %}
                {% with item.images.all|first as image %}
                  <div class="wishlist-listing-image-container">
                    <a href="{{ item.get_absolute_url }}"><img src="{{ image.image.url }}" class="wishlist-listing-image"></img></a>
                  </div>
                {% endwith %}
              {% endfor %}
            </div>
            <div class="center-block col-lg-11 wishlist-listing-offer-container">
              <h5>Offering:</h5>
              {% if listing.itemsOffer.count > 0 %}
                {% for item in listing.itemsOffer.all %}
                  {% with item.images.all|first as image %}
                    <div class="wishlist-listing-image-container">
                      <a href="{{ item.get_absolute_url }}"><img src="{{ image.image.url }}" class="wishlist-listing-image"></img></a>
                    </div>
                  {% endwith %}
                {% endfor %}
              {% endif %}
              {% if listing.moneyOffer and listing.moneyOffer > 0.00 %}
                <div class="wishlist-amount-offered"><h4>${{ listing.moneyOffer }}</h4></div>
              {% endif %}
              {% if listing.notes %}
                <div class="wishlist-notes">{{ listing.notes }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <h4 class="profile-listings-header">RATINGS:</h4>
    {% if average_rating %}
      <div><b>Average Rating:</b> {{ average_rating }}</div>
    {% endif %}

    {% if rating_form %}
      <div class="rating-form-container center-block">
        <form enctype="multipart/form-data" method="post" action="">
          {% csrf_token %}
          <h4 style="margin-bottom: 20px;">Leave Rating</h4>
          {% for field in form %}
            {% if field.label != "Feedback" %}
              <div class="rating-form-label">{{ field.label_tag }}</div>
              {% if field.label == "Listing" %}
                <div class="rating-form-input listing-input">{{ field }}</div><br>
              {% else %}
                <div class="rating-form-input">{{ field }}</div><br>
              {% endif %}
            {% else %}
              {{ field.label_tag }}<br>
              {{ field }}<br>
            {% endif %}
          {% endfor %}
          <button type="btn submit" class="btn btn-blue" style="width: 100%;">
            Post
          </button>
        </form>
      </div>
      <div class="col-lg-8 center-block"
        style="border-bottom: 1px solid grey; margin-bottom: 10px;">
      </div>
    {% endif %}

    {% if ratings %}
      {% for rating in ratings %}
        <div class="rating-container col-lg-7 center-block">
          <b>Rating By:</b> {{ rating.reviewer }}<br>
          <b>Rating For:</b> {{ rating.listingName }}<br>
          <b>Rating:</b>
          {% if rating.ratingValue == 1 %}
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star grey-star"></i>
            <i class="fas fa-star grey-star"></i>
            <i class="fas fa-star grey-star"></i>
            <i class="fas fa-star grey-star"></i>
          {% elif rating.ratingValue == 2 %}
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star rating-star"></i>
            <i class="fas fa-star grey-star"></i>
            <i class="fas fa-star grey-star"></i>
          {% elif rating.ratingValue == 3 %}
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star grey-star"></i>
            <i class="fas fa-star grey-star"></i>
          {% elif rating.ratingValue == 4 %}
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star grey-star"></i>
          {% else %}
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
            <i class="fas fa-star yellow-star"></i>
          {% endif %}
          {% if rating.feedback %}
            <br><b>Feedback:</b><br>
            {{ rating.feedback }}
          {% endif %}
        </div>
      {% endfor %}
      <div class="pagination center-block container-fluid" style="margin-bottom: 20px;">
        <div class="step-links">
          {% if ratings.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ ratings.previous_page_number }}">previous</a>
          {% endif %}

          <div class="current" style="text-align: center;">
              Page {{ ratings.number }} of {{ ratings.paginator.num_pages }}.
          </div>

          {% if ratings.has_next %}
              <a href="?page={{ ratings.next_page_number }}">next</a>
              <a href="?page={{ ratings.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </div>
      </div>
    {% else %}
      <p style="text-align: center;">This user has no ratings currently.</p>
    {% endif %}
  </div>
{% endblock %}
