{% extends "base_generic.html" %}

{% block content %}
  <div class="back-to-link"><a href="{% url 'faq' %}">«Back to FAQ</a></div>
  <div class="how-to-content col-md-10">
    <h1>How to Create an Event</h1>
    <p>In order to create an event that you can invite other users to, hover over "Events"
      in the top right navigation bar and click on it.  On this page, you will see all the events that you
      have created and events that you have accepted an invitation to.  In the header on this
      page, underneath "My Events", there will be a button that says "Create Event".  Clicking
      on the button will take you to the form to create an event.</p>
    <p>When creating an event, your event must have a title, context, date for when the event
      will be held and the location where the event will be held at.  When submitting the date
      for the event, it should be submitted in 'YY-MM-DD' format or 'YY-MM-DD HH:MM' format.  Once
      you have filled in all the fields for your event, click on "Create" at the bottom of the
      form to finish creating your event.</p>
    <h1>How to Invite Users to Your Event</h1>
    <p>Once you have created an event, you'll be able to invite users on the site to your event.
      There are two ways that you can do this.  The first way is through your events list view.
      On the page where you can view all events you are associated with, for each event that you
      are hosting there will be a button that says "INVITE".  Click on this button to be taken to
      the invitation creation form.  On this page, you can select which users you would like to
      invite to the particular event you selected "INVITE" for.  You are only able to send invitations
      to users that currently do not have an invitation to the event or are not already a participant
      in the event.  Once you have selected the users you wish to invite, click on "Send" to create
      the invitations.</p>
    <p>The second way you can invite users to events is to view the users profile page.  Navigate to
      "Community" in the navigation bar in the top right and in the dropdown select "Users".  On the
      following page, click on the user that you would like to invite to be taken to their profile.
      On the user's profile page, there will be a button at the top that says "INVITE".  Click on it
      to be taken to an invitation form where you can select what events you would like to invite the
      relevant user to.  You may also select other users on this page if you choose to do so, but be
      warned, if you select multiple events, all users selected will be invited to the events.  Once
      you have finished making your selections, click on "Send" to create the invitations.</p>
    <p>Once invitations are made, you will have to wait for the recipients to either accept or reject
      their invitation.  If they accept, they will be added as a participant to your event.  If they
      reject, they will not be a part of your event unless you invite them again and they accept the
      new invitation.</p>
    <h1>How to Accept/Decline Invitations</h1>
    <p>To view invitations that you have received for events hosted by other users, go to the
      navigation bar in the top right, hover over "Events" and in the drop down select "Invites".
      On this page you'll see all of your pending invitations.  Each invitation will have two buttons,
      "Accept" and "Decline".  If you would like to accept an invitation and join an event, click on
      "Accept".  You'll receive a confirmation dialogue asking if you are sure you would like to
      accept the invitation.  If you are sure, click "Yes" and you'll be added as a participant to the
      event.</p>
    <p>If you are not interested in joining an event, then click on "Decline".  After clicking, you'll
      receive a confirmation dialogue asking if you are sure you would like to decline the event or
      not.  If you are sure, click "Yes" and you will not be added to the event and the invitation will
      be deleted.  Be sure that you do not want to join the event, as you will not be able to join after
      unless the host reinvites you.</p>
    <h1>How to Drop Out of an Event</h1>
    <p>If after accepting an invitation to an event and you feel that you do not want to participate
      in it any longer, you may drop out of the event.  To do so, go to the navigation bar in the top
      right and click on "Events".  On the following page that shows all of the events you are
      participating in, for each event that you are a participant in, there will be a button in the
      top right corner of each container that says "DROP OUT".  Clicking on this will result in a
      confirmation dialogue box asking if you are sure that you want to drop out of the event.  If you
      are sure that you no longer want to participate in the event, click "Yes".  Be sure about your
      decision though, as you will not be able to join the event again unless the host reinvites you.
      You may also remove yourself from events from the event detail page, which you can access by
      clicking on the name of the event in the list of events you are in.</p>
    <h1>How to Remove Participants From Your Event</h1>
    <p>If you are the host of an event, you can remove participants if you need to after they have
      accepted your invitation and joined the event.  To do so, go to the navigation bar in the top
      right and click on "Events".  On the following page that shows all of the events you are
      participating in, click on the event that you are hosting and want to remove users from.  On
      the following page, you will see all the details for your event as well as a list of active
      participants.  Each participant, next to their name and username, will have a button that says
      "REMOVE".  Click on the button next to the user that you want to remove and a confirmation
      dialogue will pop out asking if you are sure that you want to remove the user from your event.
      If you are sure, click "Yes" and the user will be removed from the event.  If you decide that
      you want to re-add them after, you will have to send them a new invite and wait for them to
      accept it.</p>
    <h1>How to Edit/Delete an Event</h1>
    <p>If you decide that you need to edit an event, hover over "Events" in the top right
      navigation bar and click on it.  In the list for all your current events, for each event
      that you are hosting, there will be a button that says "EDIT" in the top right of the
      container.  Clicking on it will take you to the edit form for your event.  When editing
      your event, make sure that all the fields remain filled out, otherwise you will not be
      able to update the event.  Once you finish editing your event, click on the "Update"
      button to confirm the changes.</p>
    <p>Deleting your event is very easy.  On the same page where you can view all of your current
      events, for each event that you are hosting, there will be a "Delete" button in the
      top right of the container.  Clicking on it will take you to confirmation page where you
      casn confirm if you want to delete the event or not.  Be sure that you want to delete your
      event, because once deleted, it cannot be recovered and you will have to remake it if
      you decide to host it again.</p>
  </div>
  <div class="faq-content col-md-10">
    <h1>FAQs for Events</h1>
    <h3 class="faq-question">How many events can I make/be a part of?</h3>
    <p>There are currently no limits to the number of events you can host or be a part of.</p>
    <h3 class="faq-question">If I need to change details for my event after creating it, can I?</h3>
    <p>Yes, just go to your list of events and for every event that you are the host of, there will
      be a button in each container that says "Edit".  Click on the button to go to the form to edit
      your event's fields.</p>
    <h3 class="faq-question">How many participants can an event have?</h3>
    <p>You can invite as many participants as you would like to an event, as there is currently no
      limit.</p>
    <h3 class="faq-question">Do invitations expire?</h3>
    <p>Invitations will remain indefinitely on site until you accept or decline it, or if the event
      the invitation is to is deleted.</p>
  </div>
{% endblock %}
