{% extends "base_generic.html" %}

{% block content %}
<div class="back-to-link"><a href="{% url 'faq' %}">«Back to FAQ</a></div>
<div class="how-to-content col-md-10">
  <h1>How to Create an Offer Listing</h1>
  <p>In order to create listing that accepts offers, hover over "My Listings" in the top right
    navigation bar and in the dropdown select "Offers".  On this page, you will see all
    of your current active listings that are open to offers.  Below the navigation bar
    you'll see a button that says "Add Offer Listing".  Clicking on the button wll take
    you to the form to create a listing for offers.</p>
  <p>When creating an offer listing, you will only be able to receive offers from other
    users that consist of other items or money offers you you select the option to receive
    them.  Users can also offer a combination of items and money if the option is selected.
    If you rather auction off an item instead of receiving offers, creating an auction listing
    is allowed.  You will have to review these offers after you receive them and will have the
    option to accept or decline them.  You do not have to make a decision right away however,
    but you will need to accept an offer before the listing ends.  Once you accept an offer,
    the listing will be closed and you will need to communicate with the other user on how
    you'll be exchanging goods.  A receipt will also be made for the transaction for your
    convienence.</p>
  <h1>Editing, Relisting and Deleting a Listing</h1>
  <p>To edit an offer listing, first navigate to your listings by hovering over "My Listings"
    in the top right navigation bar and in the dropdown selecting "Offers".  For each of your
    listings in the list view, if a listing is active, there will be a button in the top right
    of the container that says "EDIT".  If the selected listing currently does not have any offers,
    you'll be taken to a form where you can edit the fields of your listing.  You will need to
    provide all the necessary fields except for monetary amounts if you are not interested in money
    offers.  However, you will not be able to select a new ending time, so if you want to extend the
    listing time, you will  need to wait for the listing to end.  If you want to edit a listing
    that has offers, you will first need to decline all the offers that exist beforehand.</p>
  <p>Once a listing has ended, you will have the option to relist it.  On the page for your offer
    listings, each listing that has ended will have a button that says "RELIST" in the top right of
    the container.  Clicking on this will take you to the relisting form where you can edit the
    existing fields of your listing and choose a new ending time.</p>
  <p>Deleting a listing is very easy.  On the page where you can view all your listings, each listing
    will have a button that says "DELETE" in the top right corner of the container.  Clicking this will
    take you to a confirmation page where can confirm if you want to delete the listing or not.  Be
    careful, once you delete a listing, it can not be undone, and you will have to remake the listing again
    afterwards if you want to list the items that were included again.</p>
  <h1>How to Place/Retract an Offer</h1>
  <p>To place an offer on a listing that you are interested in, you will first need to view
    the listing's detail page by clicking on a listing on the offer listings page.  This page
    can be found in the navigation bar by hovering over "All Listings" and clicking on "Offers".</p>
  <p>On the listing detail page, scroll to the bottom of the page and you will see a button that says
    "Make an Offer".  Clicking this will take you to the offer creation form.  You can select items that
    you have made to offer or, if the listing is open to money offers, include a monetary amount with
    your offer.  If a listing is open to money offers, you may offer only money or both money and items.
    If a listing is not open to money offers, you must offer at least one item.  Once you have finished
    selecting items and entered a money amount if you desired to, click on "Make Offer" to create the offer.</p>
  <p>You may also retract your offer if you choose to do so.  To perform this, go to your list and offers
    and click on the offer you want to retract.  On the offer detail page, scroll to the bottom and there
    will be a button that says "Retract".  Clicking on it will take you to a confirmation page where you
    can confirm if you want to retract the offer or not.  If you do retract the offer, the listing owner
    will not be able to accept the offer.
  <h1>How to View/Accept/Reject an Offer</h1>
  <p>To accept an offer on one of your listings, navigate to the detail page of your desired listing.  You
    can access a list of your listings by going to the navigation bar in the top right, hover over "My Listings"
    and selecting "Offers".  Once on this page, click on the image or name of the listing you're interested in
    to go to its detail page.</p>
  <p>On the listing detail page, scroll to the bottom of the page and you will see a list of all the offers
    users have made on your listing.  To see more details for each offer, click on the name of the offer to
    view the detail page.  This will give you more information on the items that were offered, if the user included
    any.  You can click on an item in an offer to view even more details about the item on its detail page, and you
    can click on items in both the list of offers in the listing detail page or on the offer detail page.</p>
  <p>When you are ready to accept an offer, in the top right corner of each listing you'll a button that says "Accept Offer".
    Clicking on this will create a popup asking you to confirm if you do want to accept the listing.  If you are sure,
    click "Yes", else click "No" and you may choose another offer if you wish.  Once an offer is accepted,
    all other offers except for the selected offer will be deleted so make sure you are 100% sure of the offer
    you accept.  Once a listing has been completed, it will not show up in results for other users, and will only
    display the offer you accepted.</p>
  <p>Make sure to acept an offer that you're interested in before a listing ends.  Once the listing has ended, you will
    not be able to accept any offers and will need to relist it in order to reopen it to offers.</p>
  <p>If you are not interested in any of the current offers, you may also reject them.  Underneath the accept button
    for each offer is a "Decline" button.  Clicking on this will take you to a confirmation page where you can
    confirm that you want to reject the offer.  Once rejected you cannot accept the offer unless the user offers the
    items again.</p>
  <h1>How to Create an Auction Listing</h1>
  <p>In order to create an listing to auction items, hover over "My Listings" in the top right
    navigation bar and in the dropdown select "Auctions".  On this page, you will see all
    of your current active listings that are accepting bids.  Below the navigation bar
    you'll see a button that says "Add Auction Listing".  Clicking on the button wll take
    you to the form to create a listing for bids.</p>
  <p>When creating an auction listing, users will be able to bid on your items up until
    the auction ends.  Once the auction ends, the user who placed the highest bid will win
    the auction.  However, you have the option to add an autobuy price to your auction.  If
    a user places a bid for this amount, they will auctomatically win and the auction will close.
    Once an auction closes and their has been at least one bid on the auction, a receipt will
    be generated for your convenience. You will then have to communicate with the winner on how
    you will exchange your items for money.  If an auction closes without any bids, you can relist
    it as well as edit any of the attributes, such as starting bid and autobuy price.  Auctions once
    created cannot be edited or deleted, so please check all the information for your auction before
    finalizing the creation.</p>
</div>
<div class="faq-content col-md-10">
  <h1>FAQs for All Listings</h1>
  <h3 class="faq-question">How many items can be included in my listing?</h3>
  <p>You can include as many items as you want, but each item can only be included once.  If
    you have multiples of an item, be sure include it in the notes (only for offer listings) or
    create an item that shows all of them together.</p>
  <h3 class="faq-question">How long can a listing last?</h3>
  <p>A listing can be active for as short as an hour and as long as 7 days.  Once this time period
    is reached, the listing will end and will no longer appear for other users.  You can relist a
    listing after it has ended, but for auction listings you may only relist them if no bids had been
    made.  For offer listings, make sure to accept an offer if you have one you like before it ends,
    otherwise you will not be able to accept any offers once it has ended.</p>
  <h1>FAQs for Offer Listings</h1>
  <h3 class="faq-question">Do I have to accept money offers for my listing?</h3>
  <p>No you do not.  When creating a listing for offers, if you are not interested in money, leave
    the "Open to Money Offers" option unchecked.  You can then leave the minimum and maximum range fields
    blank.</p>
  <h3 class="faq-question">What are the lowest and highest ranges I can have?</h3>
  <p>If the "Open to Money Offers" option has been checked, the mimimum range you can have is $0.01
    while the maximum range you can have is $9,999,999.99.</p>
  <h3 class="faq-question">Can I accept multiple offers for my listing?</h3>
  <p>No, you may only accept one offer for each listing, and will not be able to accept any other offers
    once one offer is accepted.</p>
  <h3 class="faq-question">Can I accept an offer after my listing has ended?</h3>
  <p>No, once a listing has ended no offers can be accepted.  You will have to relist the listing in order to
    receive offers on it again.</p>
  <h1>FAQs for Auction Listings</h1>
  <h3 class="faq-question">What are the minimum and maximum values for a starting bid?</h3>
  <p>The mimimum value for a starting bid you can have is $0.01, while the maximum value you can have
    is $9,999,999.99.</p>
  <h3 class="faq-question">How large can the minimum increment be?</h3>
  <p>The mimimum increment bid value must be at least $0.01, and it cannot be greater than your starting
    bid.</p>
  <h3 class="faq-question">How large can my autobuy price be?</h3>
  <p>The autobuy price must be greater than your starting bid, and can be up to $9,999,999.99.</p>
</div>
{% endblock %}
