{% extends "base_generic.html" %}

{% block content %}
  <div class="back-to-link"><a href="{% url 'faq' %}">«Back to FAQ</a></div>
  <div class="how-to-content col-md-10">
    <h1>How to Report a Listing</h1>
    <p>To report a listing, click on the name of the listing you want to report
      to be taken to the detail view for that listing.  At the bottom of the listing
      there will be a button that says "Report".  Clicking on it will take you
      to the form for reporting the listing.  When reporting a listing, select
      a reason for the report and add a description to explain in depth why you
      are reporting the listing.  Once you have added all the fields, click on
      the "Report" button at the bottom of the container to send the report.
      The report will then be taken care of by an admin.</p>
    <h1>How to Report an Event</h1>
    <p>You can report events you have joined that you feel concerned about.  In
      order to do so, visit the list of events that you are an active participant
      in and click on the name of the event that you are concerned with.  On the
      event detail page, scroll to the bottom and there will be a button that says
      "Report Event".   When reporting an event, select a reason for the report
      and add a description to explain in depth why you are reporting the event.
      Once you have added all the fields, click on the "Report" button at the
      bottom of the container to send the report.  The report will then be
      taken care of by an admin.</p>
    <h1>How to Report a User</h1>
    <p>You can report users that make you feel uncomfortable, are harrassing you,
      or are attempting to scam you or others.  To report a user, click on the user's
      name that you want to report to view their profile.  On their profile page,
      in the top right corner there will be a button that says "Report User".
      When reporting a user, select a reason for the report and
      add a description to explain in depth why you are reporting the user.
      Once you have added all the fields, click on the "Report" button at the
      bottom of the container to send the report.  The report will then be taken
      care of by an admin.</p>
    <h1>How to Report a Wishlist</h1>
    <p>To report a wishlist that you feel contains inappropriate or concerning
      content, click on the button that takes you to the wishlist from a user's listing
      or from their profile page.  Oh the wishlist detail page, there will be a
      button that says "Report Wishlist".  When reporting a user, select a reason
      for the report and add a description to explain in depth why you are
      reporting the wishlist. Once you have added all the fields, click on the
      "Report" button at the bottom of the container to send the report.
      The report will then be taken care of by an admin.</p>
    <h1>How to Report a Image</h1>
    <p>To report a image that you feel contains inappropriate or concerning
      content, click on the item that contains the image of concern.  On the
      item's detail page, for each image related to the item, there will be a
      button beneath the image that says "Report Image".  When reporting a user,
      select a reason for the report and add a description to explain in depth
      why you are reporting the image. Once you have added all the fields,
      click on the "Report" button at the bottom of the container to send the
      report.  The report will then be taken care of by an admin.</p>
  </div>
{% endblock %}
