{% extends "base_generic.html" %}

{% block content %}
  <div class="back-to-link"><a href="{% url 'faq' %}">«Back to FAQ</a></div>
  <div class="how-to-content col-md-10">
    <h1>How to Report a Listing</h1>
    <p>To report a listing, click on the name of the listing you want to report
      to be taken to the detail view for that listing.  At the bottom of the listing
      there will be a button that says "Report".  Clicking on it will take you
      to the form for reporting the listing.  When reporting a listing, select
      a reason for the report and add a description to explain in depth why you
      are reporting the listing.  Once you have added all the fields, click on
      the "Report" button at the bottom of the container to send the report.
      The report will then be taken care of by an admin.</p>
  </div>
{% endblock %}
