{% extends "base_generic.html" %}

{% block content %}
  <div class="back-to-link"><a href="{% url 'faq' %}">«Back to FAQ</a></div>
  <div class="how-to-content col-md-10">
    <h1>How to Create a Wishlist</h1>
    <p>Users have the option of creating a wishlist to organize items that they are searching for
      onto one page.  In order to create your wishlist, go to the navigation bar in the top right
      and click on "Wishlist".  If you haven't made a wishlist yet, you'll be taken to the form
      where you can make a wishlist.  You will need to give your wishlist a title and a description,
      but you are not obligated to add items to it right away.  Once you have added a title, description
      and items if you choose to add them now, click on "Create" to finish creating your wishlist.
      You'll then be taken to your wishlist's detail page, which you can then access later on by
      clicking on "Wishlist" in the navigation bar.</p>
    <p>Please note that you can only make one wishlist per user account.  All wishlist items
      you have will exist on the same wishlist.</p>
    <h1>How to Edit Your Wishlist</h1>
    <p>To edit your wishlist, click on "Wishlist" in the navigation bar in the top right to go to
      your wishlist's detail page.  On this page, under the title and description of your wishlist
      there is a button that says "Edit Wishlist".  Clicking on it will take you to the form where
      you can edit your wishlist.  Remember that your wishlist must have at least a title and a
      description, but it does not need to contain any items.  Once you are finished editing your
      wishlist, click on "Update" to save the changes made.</p>
    <p>You can also quickly remove items from your wishlist.  On your wishlist's detail page, each
      item that you have added to your wishlist will have a button that says "REMOVE".  Clicking on
      this button will result in a confirmation dialogue popping up asking if you are sure you want
      to remove the item from your wishlist.  If you are sure, click "Yes" and the item will be removed.
      If you need to add the item back at any time, you can easily do so by editing your wishlist.</p>
    <h1>How to Create a Wihslist Listing</h1>
    <p>Once you have added items to your wishlist, you'll be able to create search listings for them.
      Other users will be able to contact you if they see they have an item you seek and negotiate a
      trade or sale with you.  In order to create a listing, hover over "My Listings" in the navigation
      bar in the top right and click on "Wishlist".  On this page, there will be a button under the page
      header that says "Create Listing".  Clicking on the button will take you to the form where you can
      create a wishlist listing using items on your wishlist.  When creating your listing, make sure to
      give it a name, when you want your listing to end and any notes that you want to add.  Your
      listing must also have at least one item to offer or a monetary amount.  You may include both
      items and money to offer however. Once you have added all the required info, click on "Create"
      to finish creating your listing.</p>
    <p>You can also quickly create a listing for an item on your wishlist by clicking on "LIST" under
      the item you want to list.  This will take you to the same form as above but have the item you
      cicked on already preselected.  However, note that even if you deselect the item you were creating
      the listing for it will still be added to your listing so make sure that you actually want to
      create a listing for the item before doing so.</p>
  </div>
  <div class="faq-content col-md-10">
    <h1>FAQs for Wishlists</h1>
    <h3 class="faq-question">How many wishlists can I have?</h3>
    <p>Each user may only have one wishlist.</p>
    <h3 class="faq-question">Can I delete my wishlist?</h3>
    <p>No, after creating your wishlist it will remain on the site permanently.  If you have no need
      for it, simply remove any existing wishlist items on it so that no wishes remain.</p>
  </div>
{% endblock %}
