{% extends "base_generic.html" %}

{% block content %}
  <div class="center-block col-lg-10">
    <h2 style="text-align: center;">Edit Account</h2>
    <h6 style="text-align: center;">To change your password, go here:
      <a href="{% url 'password_reset' %}">Change Password</a></h6>
    <div class="form-container-accounts center-block">
      <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {% for field in form %}
          <p>
            <div style="display: inline-block;">
              {{ field.label_tag }}
            </div>
            <div class="form-field-accounts">
              {{ field }}
            </div>
            {% if field.help_text %}
              <br><small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="btn submit" class="btn btn-blue form-button">Update</button>
      </form>
    </div>
  </div>
{% endblock %}
