{% extends "base_generic.html" %}

{% block content %}
  <div class="col-lg-10 center-block listing-header">
    <h2>{{ offerlisting.name }}</h2>
    <h6>Owner:
      <a href="{% url 'profile-detail' pk=offerlisting.owner.profile.id %}">
        {{ offerlisting.owner }}
      </a>
    </h6>
    {% if offerlisting.listingEnded and offerlisting.listingCompleted != True %}
      <h6 class="expired-listing">Ended: {{ offerlisting.endTime }}</h6>
    {% elif offerlisting.listingCompleted != True %}
      <h6>Ends: {{ offerlisting.endTime }}</h6>
    {% endif %}
    <a href="{% url 'wishlist-detail' pk=offerlisting.owner.wishlist.id %}">
      <div class="btn btn-blue" style="margin-top: 5px;">
        {{ offerlisting.owner }}'s Wishlist
      </div>
    </a>
  </div>
  <div class="listing-item-container col-lg-10 center-block">
    <div class="listing-item-container-header"><h4>This listing contains:</h4></div>
    {% if offerlisting.items %}
      {% if offerlisting.items.all.count > 1 %}
        {% for item in offerlisting.items.all %}
          <a href="{{ item.get_absolute_url }}">
            <div class="item-display multiple-items">
              <div class="item-count">{{ forloop.counter }}</div>
              {% if item.images %}
                {% with item.images.all|first as image %}
                  <div class="item-image"><img src="{{ image.image.url }}" style="width: 150px; height: 150px;"></img></div>
                {% endwith %}
              {% endif %}
              <div class="item-name">{{ item.name }}</div>
            </div>
          </a>
        {% endfor %}
      {% else %}
        {% with offerlisting.items.all.all|first as item %}
          <a href="{{ item.get_absolute_url }}">
            <div class="item-display">
              {% if item.images %}
                {% with item.images.all|first as image %}
                  <div class="item-image"><img src="{{ image.image.url }}" style="width: 150px; height: 150px;"></img></div>
                {% endwith %}
              {% endif %}
              <div class="item-name"><h5>{{ item.name }}</h5></div>
            </div>
          </a>
        {% endwith %}
      {% endif %}
    {% endif %}
    <div class="center-block listing-description">{{ offerlisting.description }}</div>
    {% if offerlisting.notes %}
      <div class="detail">Notes: {{ offerlisting.notes }}</div>
    {% endif %}
  </div>
  {% if offerlisting.listingEnded != True %}
    {% if request.user != offerlisting.owner %}
      <div class="listing-details">
        {% if offerlisting.openToMoneyOffers %}
          <div class="detail">Minimum Amount Sought: <b>${{ offerlisting.minRange }}</b></div>
          {% if offerlisting.maxRange > 0.00 %}
            <div class="detail">Maximum Amount Sought: <b>${{ offerlisting.maxRange }}</b></div>
          {% endif %}
        {% endif %}
      </div>
      <a href="{% url 'create-offer' pk=offerlisting.pk %}">
        <div class="btn btn-green listing-btn center-block" style="margin-bottom: 20px;">
          Make an Offer
        </div>
      </a>
    {% endif %}
  {% endif %}
  {% if request.user == offerlisting.owner %}
    {% if offerlisting.listingEnded != True or offerlisting.listingCompleted %}
      {% if offers %}
        {% if offerlisting.listingCompleted %}
          <h2 class="col-lg-10 center-block" style="text-align: center;">Accepted Offer:</h2>
        {% else %}
          <h2 class="col-lg-10 center-block" style="text-align: center;">Your Offers:</h2>
        {% endif %}
        <div class="all-offers-container col-lg-10 center-block">
          {% for offer in offers %}
            <div class="offer-container center-block">
              <div class="offer-header">
                <a href="{{ offer.get_absolute_url }}">
                  <h5 style="display: inline-block;">
                    Offer from {{ offer.owner }}:
                  </h5>
                </a>
                {% if offer.offerListing.listingCompleted != True %}
                  <a onclick="return confirm('Are you sure you want to accept this offer?')"
                    class="btn btn-blue accept-button"
                    href="{% url 'accept-offer' pk=offer.pk %}">
                    Accept
                  </a>
                  <br>
                  <a class="btn btn-red decline-button"
                    href="{% url 'delete-offer' pk=offer.pk %}">Decline</a>
                {% endif %}
                {% if offer.amount > 0.00 %}
                  <div class="amount-offer">Amount Offered: ${{ offer.amount }}</div>
                {% endif %}
                {% if offer.items %}
                  <div class="offer-items">
                    {% for item in offer.items.all %}
                      {% if item.images %}
                        {% with item.images.all|first as image %}
                          <a href="{{ item.get_absolute_url }}">
                            <img src="{{ image.image.url }}" class="offer-image">
                            </img>
                          </a>
                          <div class="item-details">
                            <b>{{ item.name }}</b><br>
                            {{ item.description|truncatechars:100 }}
                          </div><br>
                        {% endwith %}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}
