{% extends "base_generic.html" %}

{% block content %}
  <div class="col-lg-10 center-block">
    <form method="post">{% csrf_token %}
      {% if offer.owner == request.user %}
        <p style="text-align: center;">Are you sure you want to retract this offer?</p>
      {% else %}
        <p style="text-align: center;">Are you sure you want to decline this offer?</p>
      {% endif %}
      <div class="offer-container col-lg-4 center-block">
        <div class="offer-header">
          <a href="{{ offer.get_absolute_url }}"><h5 style="display: inline-block;">Offer from {{ offer.owner }}:</h5></a>
          {% if offer.amount > 0.00 %}
            <div class="amount-offer">Amount Offered: ${{ offer.amount }}</div>
          {% endif %}
          {% if offer.items %}
            <div class="offer-items">
              {% for item in offer.items.all %}
                {% if item.images %}
                  {% with item.images.all|first as image %}
                    <a href="{{ item.get_absolute_url }}"><img src="{{ image.image.url }}" class="offer-image"></img></a>
                    <div class="item-details">
                      <b>{{ item.name }}</b><br>
                      {{ item.description|truncatechars:100 }}
                    </div><br>
                  {% endwith %}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      <input type="submit" value="Confirm" class="btn btn-blue center-block" style="margin-top: 20px;">
    </form>
  </div>
{% endblock %}
