{% extends "base_generic.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row content-header-row">
      <div class="col-lg-4">
        <h1>My Offer Listings</h1>
      </div>
      <div class="col-lg-8 add-button">
        <a href="{% url 'create-offer-listing' %}"><div class="btn btn-green">Add Offer Listing</div></a>
      </div>
    </div>
  </div>
  {% if offerlistings %}
  <ul>
    {% for listing in offerlistings %}
      <li>
        <a href="{{ listing.get_absolute_url }}">{{ listing.name }}</a> |
        {% if listing.listingEnded %}
          <a href="#">RELIST</a>
        {% else %}
          <a href="{% url 'update-offer-listing' pk=listing.pk %}">EDIT</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>You don't have any offer listings yet.</p>
  {% endif %}
{% endblock %}
